.product-card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.product-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-description {
  font-size: 14px;
  color: #555;
  word-wrap: break-word;
 
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical;

  margin-bottom: 20px;
}

.product-footer {
  font-size: 14px;
  color: #777;
  /* margin-top: auto; */
  display: flex;
  flex-direction: column;
}

.product-price {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  margin-bottom: 5px;
}

.product-location {
  margin-bottom: 8px;
}

.product-info {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #888;
}